CLARION_DATA_DIR=/opt/clarion/data
LLM_BASE_URL={{ llm_base_url }}
LLM_API_KEY={{ llm_api_key }}
{% if telegram_bot_token is defined %}
TELEGRAM_BOT_TOKEN={{ telegram_bot_token }}
{% endif %}
{% if telegram_chat_id is defined %}
TELEGRAM_CHAT_ID={{ telegram_chat_id }}
{% endif %}
